:root {
  /* Variables */
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(103, 102, 102);
  --color-titles: #fff;
  --color-texts: #e0e0e0;
  --color-border-dark-bottom: 1px solid #444444; /* gris medio oscuro */
  --color-border-light-bottom: 1px solid #666666; /* gris medio claro */

  /* Fonts */
  --font-family-heading: 'Montserrat', sans-serif;
  --font-family-body: 'Lato', sans-serif;

  /* Sizes */
  --font-size-heading: 2.5rem; /* Main titles */
  --font-size-subheading: 1.8rem; /* Subtitles */
  --font-size-buttons-slider: 1.45rem;
  --font-size-body: 1.6rem; /* Normal text */
  --font-size-small: 1rem; /* small text or captions */

  /*Weight fonts */
  --font-weight-heading: 700; /* bold for titles */
  --font-weight-body: 400; /* normal for texts */

  /* line height */
  --line-height-heading: 1.2; /* for titles */
  --line-height-body: 1.6; /* for spans, p, li*/

  /* hover in buttons */
  --color-btn: #e0e0e0; /* gris claro */
  --color-btn-hover: #ffffff; /* blanco puro */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}
body {
  font-family: var(--font-family-body);
  color: var(--color-texts);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  background-color: var(--color-primary);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows:
    6rem calc(100vh - 6rem) auto repeat(3, minmax(60vh, auto))
    6rem;
  gap: 1rem;
  margin: 0 auto;
}
.section--hidden {
  opacity: 0;
  will-change: opacity, transform;
  transform: translateY(5rem);
  transition: opacity 0.8s ease-out,
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}
