.sliders {
  background-color: var(--color-primary);
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr minmax(20rem, 60rem) 1fr;
  grid-template-rows: max-content;
  gap: 2rem;
  padding: 1rem;
  place-items: center;
  border-bottom: var(--color-border-light-bottom);
  margin-top: 10rem;
  margin-bottom: 20rem;
}

.slider__controls {
  display: grid;
  grid-column: 2 / 3;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.slider__controls--btn {
  background-color: var(--color-primary);
  color: var(--color-texts);
  border: 2px solid var(--color-texts);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: var(--font-size-buttons-slider);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider__controls--btn:hover {
  background-color: var(--color-texts);
  color: var(--color-primary);
}
.slider__controls--btn {
  box-shadow: 0 0.3rem 0.6rem rgba(255, 253, 253, 0.471);
}

.slider__controls--btn:active {
  transform: translateY(0.4rem);
  box-shadow: none;
}
.slider__images {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider__images--img1 {
  width: 100%;
  position: relative;
  padding-top: calc(100% * 7 / 8);
  overflow: hidden;
}
.slider__images--img1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

  /* Animación inicial */
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slider__images--img1 img.loaded {
  opacity: 1;
  transform: translateY(0);
}

.slider__images--btn {
  height: 7rem;
  width: 7rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(230, 230, 230, 0.535);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__images--btn:active {
  transform: translateY(0.4rem);
  box-shadow: none;
}

.slider__images--icon {
  fill: #fff;
  width: 3.5rem; /* 50% de 7rem */
  height: 3.5rem;
  display: block;
}
.btn--left {
  grid-column: 1 / 2;
  justify-self: end;
  align-self: center;
}
.btn--right {
  grid-column: 3 / 4;
  justify-self: start;
  align-self: center;
}
